<!DOCTYPE html>
<html lang="en" ng-app="RegApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- css -->
  <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">

  <!-- js --> 
  <script src="/libs/jquery/dist/jquery.min.js"></script>
  <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/libs/angular/angular.min.js"></script>
  <script src="/index.js"></script>
</head>

<body ng-controller="RegController as regC">
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome! Register here.</h1></br>
      <p>
        <strong>You must be above 18 to register.</strong></br> 
        <em>Please enter your date of birth first.</em>
      </p>
    </div>

    <!-- start form entire form in a row -->
    <form name="regForm" novalidate>
    
      <div class="form-group row">
        <label for="date" class="col-md-2">Date of birth:</label>
        <div class="col-md-3">
          <input type="date" name="date" id="date" class="form-control col-md-2"
                  ng-model="regC.date"
                  ng-disabled="regC.verified">
          </br></br>
          <button type="button" class="btn btn-danger"
                  ng-click="regC.checkBirthday()"
                  ng-if="!regC.verified">Verify Age </button></p>
        </div>
      </div>

    <!-- disqualify -->
    <div ng-if="regC.verified && !regC.qualify">
      <div class="jumbotron">
        <p>You do not qualify to register! :( Please try again next time.</p>
      </div>
    </div>

    <!-- qualify -->
    <div ng-if="regC.verified && regC.qualify">
      <div class="jumbotron">
        <p>
        Congratulations! You qualify, proceed to fill in the rest of the form.
        All fields are required.</br>
        <strong><em>You cannot change your age unless you reload this form.</em></strong>
        </p>
      </div>

      <!-- username -->
      <div class="form-group row"
           ng-class="{ 'has-error' : regForm.username.$invalid && regForm.username.$dirty }">
        <label for="username" class="col-md-2">Name:</label>
        <div class="col-md-5">
        <input type="text" name="username" id="username" class="form-control"
                required ng-model="regC.username">
        <span class="help-block" 
                    ng-if="regForm.username.$invalid && regForm.username.$dirty">
                    Please provide your name.</span>
        </div>
      </div></br>

      <!-- email -->
      <div class="form-group row"
            ng-class="{ 'has-error' : regForm.email.$invalid && regForm.email.$dirty }">
        <label for="email" class="col-md-2">Email:</label>
        <div class="col-md-5">
        <input type="email" name="email" id="email" class="form-control"
               required ng-model="regC.email">
        <span class="help-block" 
                    ng-if="regForm.email.$invalid && regForm.email.$dirty">
                    Please provide a valid email.</span>
        </div>
      </div></br>

      <!-- password -->
      <div class="form-group row"
          ng-class="{ 'has-error' : regForm.password.$invalid && regForm.password.$dirty }">
        <label for="password" class="col-md-2">Password:</label>
        <div class="col-md-5">
        <input type="password" 
                name="password" 
                id="password" 
                class="form-control"
               required 
               ng-pattern="/^(?=.*\d)(?=.*[@#$])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" 
               ng-model="regC.password"></br>
               Password length must be 8 or more, with at least 1 lowercase, 1 uppercase, 1 number, and 1 of @,#,$.
        <span class="help-block" 
                    ng-if="regForm.password.$invalid && regForm.password.$dirty">
                    Please make sure your password meets the criteria.</span>
        </div>
      </div></br>

      <!-- gender -->
      <div class="form-check row">
        <label for="gender" class="col-md-2 form-check-label">Gender:</label>
        <div class="col-md-5">
        <input type="radio" name="gender" id="gender" value="male" check="checked" required
               class="form-check-input"
               ng-model="regC.gender">Male</input></br>
        <input type="radio" name="gender" id="gender" value="female" required
               class="form-check-input"
               ng-model="regC.gender">Female</input>
        </div>
      </div></br>

      <!-- address -->
      <div class="form-group row"
          ng-class="{ 'has-error' : regForm.address.$invalid && regForm.address.$dirty }">
        <label for="address" class="col-md-2">Address:</label>
        <div class="col-md-5">
        <input type="text" name="address" id="address" class="form-control"
               required ng-model="regC.address">
        <span class="help-block" 
                    ng-if="regForm.address.$invalid && regForm.address.$dirty">
                    Please provide your address.</span>
        </div>
      </div></br>

      <!-- regC.country -->
      <div class="form-group row"
           ng-class="{ 'has-error' : regForm.country.$invalid && regForm.country.$dirty }">
        <label for="country" class="col-md-2">Country:</label>
        <div class="col-md-5">
        <input type="text" name="country" id="country" class="form-control"
               required ng-model="regC.country">
        <span class="help-block" 
                    ng-if="regForm.country.$invalid && regForm.country.$dirty">
                    Please provide your country.</span>
        </div>
      </div></br>

       <!-- regC.contact -->
       <div class="form-group row"
            ng-class="{ 'has-error' : regForm.contact.$invalid && regForm.contact.$dirty }">
         <label for="contact" class="col-md-2">Contact Number:</label>
         <div class="col-md-5">
         <input type="text" name="contact" id="contact" class="form-control"
                required ng-pattern="/^\(?\+?\d+\)?[-.\s]?\d+[-.\s]?\d+$/" ng-model="regC.contact">
          <span class="help-block" 
                    ng-if="regForm.contact.$invalid && regForm.contact.$dirty">
                    Please provide a valid contact.</span>
         </div>
       </div></br>

       <p ng-if="regForm.$invalid">
         <em>You will not be able to submit the form unless all fields are properly filled.</em>
       </p>
       <button class="btn btn-lg btn-success"
               ng-disabled="regForm.$invalid"
               ng-click="regC.submitForm()">Submit!</button>

    </div><!-- ng if qualify -->
    <!-- end qualify -->

    </br>
    <div class="jumbotron"
          ng-if="regC.status">
          <strong>{{ regC.result }}</strong>
    </div>

    </form>
    <!-- end form -->





  </div><!-- close container -->
</body>
</html>